.splash-welcome {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #00d375;

}

#splashAP {
    -fx-background-color: white;
}

#mainPane {
    -fx-background-color: white;
}



.buttons {
    -fx-text-fill: black;
    -fx-background-color: #00d375;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5;


}