.splash-welcome {

    -fx-text-fill: #ffffff;

}

#splashAP {
    -fx-background-color: white;
}

#mainPane {
    -fx-background-color: #383838;
}

.flashCardCard {
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-background-color: #525252;
}

.flashCardCard:hover{
    -fx-cursor: hand;
}

#manageDeckPane {
    -fx-background-color: #383838;
    -fx-text-fill: white;
}

#fcMainPane {
    -fx-background-color: #383838;
    -fx-text-fill: white;
}

.text {
    -fx-text-fill: white;
}

.questionArea {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.text-area {
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #000000;
}

.list-view {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: white;

}
.list-cell:even {
    -fx-background-color: black;

}

.list-cell:odd{
    -fx-background-color: #131313;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#deckList {
    -fx-background-color: black;
    -fx-text-fill: white;
}



.text-field {
    -fx-background-color: black;
    -fx-text-fill: white;

}

.textFieldSplash {
    -fx-background-color:white;
    -fx-text-fill: black;
}





#borderPane {
    -fx-border-width: 2 0 0 0;
    -fx-border-color: white;
    -fx-border-style: dashed;
}

.borderlessField {
    -fx-border-style: solid;
    -fx-background-color: #00397a;

}


.button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #00397a;
    -fx-border-radius: 5;
    -fx-background-radius: 10;
    -fx-padding: 2;



}

.button:hover {
    -fx-cursor: hand;
}